/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

.body-container {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.badge {
    font-weight: 500;
    padding: 0.5em 0.8em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn-outline-secondary {
    border-color: #dee2e6;
    color: #6c757d;
    padding: 0.65rem 1.5rem;
}
  
.btn-outline-secondary:hover {
    background-color: #f8f9fa;
    color: #6c757d;
    border-color: #dee2e6;
}
